* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.navbar {
    padding: 60px 0 !important;
}

body {
    margin: 0 200px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: 600;
}

i {
    color: #333333;
    font-size: 20px;
    margin-left: 50px
}
i .show{
    display: none;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 24px
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
}

#hero {
    margin-top: 90px;
}

#hero h3 {
    padding-bottom: 10px;
    font-weight: 600;
    margin: 0px;
    color: #1D3461;
}

#hero h1 {
    padding-bottom: 16px;
    font-weight: 600;
    margin: 0px;
}

#hero h1 span {
    color: #5096E9;
}

#hero p {
    width: 510px;
    line-height: 41px;
    margin-bottom: 0;
}

.btn {
    padding: 20px 68px !important;
    background-color: #1F487E !important;
    color: #ffffff;
    margin-top: 44px;
    border-radius: 0px;
}

.btn:hover {
    color: #ffffff;
}
.btn a{
    text-decoration: none;
    color: white;
}

/*   BLOGS LAYOUT SECTION    */
.blogs {
    margin-top: 240px;
}

.cs-blog {
    border: 1px solid #5096E9;
}

.cs-blog .s-image {
    padding-right: 15px;
}

.cs-blog #image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.cs-blog .content {
    padding: 50px;
    padding-left: 35px;

}

.content .tag h3 {
    color: #5096E9;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 11px;
}

.content .title h2 {
    font-weight: bold;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
    margin-bottom: 11px;
}

.content .desc h3 {
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
    margin-bottom: 18px;
    line-height: 27px;
    font-weight: 400;
}

.content .more h3 a {
    color: #1F487E;
    text-decoration: underline;
}

.content .more h3 a:hover {
    color: #1F487E;
}

/*      REST BLOG     */
.cd-blog {

    margin-top: 45px;

}

.cd-card {
    border: 1px solid #5096E9;
}

.cd-card #image {
    width: 100%;
    height: 265px;
}

.cd-card .content {
    padding: 28px 25px;
}

.cd-card .tag h3 {
    font-size: 16px;
}

.cd-card .title h2 {
    font-size: 22px
}

.cd-card .desc h3 {
    font-size: 16px;
}

/*   BLOGS LAYOUT SECTION    */

/*    FOOTER SECTION*/
footer {
    margin-top: 135px;
    margin-bottom: 40px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-size: 14px;
}

/*    FOOTER SECTION*/


/*     TABLET RESPONSIVE    */
/*     TABLET RESPONSIVE    */

/*   MOBILE RESPONSIVE*/
@media only screen and (max-width: 991px) {
    body{
        margin: 0 80px;
    }
    .navbar i .show{
        font-size: 16px;
        padding-left: 10px;
        display: inline;
    }
        .cd-blog .col-lg-6 {
        margin: 15px 0;
    }

    .cd-blog .col-lg-6:first-child {
        margin-top: 0;
    }
        .cd-card #image {
        height: 100%;
    }
}


@media only screen and (max-width: 500px) {
    body {
        margin: 0 20px;
    }

    .navbar {
        padding: 40px 0px !important;
    }
    .navbar i .show{
        font-size: 16px;
        padding-left: 10px;
        display: inline;
    }
    #hero {
        margin-top: 40px;
    }

    #hero h3 {
        padding-bottom: 15px;
    }

    #hero h1 {
        padding-bottom: 20px;
        font-size: 30px
    }

    #hero p {
        width: 80%;
        line-height: 30px
    }

    #hero button {
        padding: 16px 50px !important;
        margin-top: 30px;
    }

    #hero button h2 {
        font-size: 14px;
        font-weight: normal;
    }

    .blogs {
        margin-top: 130px;
    }

    .cd-blog .col-lg-6 {
        margin: 15px 0;
    }

    .cd-blog .col-lg-6:first-child {
        margin-top: 0;
    }

    .cd-blog .content {
        padding: 50px !important;
        padding-left: 20px !important;
    }

    .cd-card #image {
        height: 100%;
    }

    .cd-blog .content {
        padding: 50px 70px;
    }
    footer{
        margin-top: 90px;
    }
}

/*   MOBILE RESPONSIVE*/
